extends layout
block content
  div.container
    div.row
      div.col-xs-12
        h1 Ajouter un livre
        form.form-group(action='/simplonBook/add', method = 'POST', enctype='multipart/form-data')
          div.form-group
            label.control-label Titre
            input.form-control(type='text', name='titre')
          div.form-group
            label.control-label Auteur
            input.form-control(type='text', name='auteur')
          div.form-group
            label.control-label Année de publication
            input.form-control(type='text', name='annee_de_publication')
          div.form-group
            label.control-label Nombre de pages
            input.form-control(type = "text", name= "pages")
          div.form-group
            label.control-label Date de création
            input.form-control(type = "text", name= "date_de_creation")
          div.form-group
            label.control-label Couverture
            input(type = "file", name= "image")
          ul.list-inline
            li(ahref='simplonBook/add')
              button.btn.btn-danger(type='submit') Add
            li
              a(href='simplonBook/books')
                button.btn.btn-add(type='submit') Cancel






        
  
  
