extends layout
block content
        div.container
          div.row
            div.col-xs-12
              h1 Editer votre livre
              form.form-group(action=`/simplonBook/books/edit/${book.id}`, method = 'POST')
                div.form-group
                  label.control-label TITRE
                  input.form-control(type ='text', name = 'titre', value = book.titre)
                div.form-group
                  label.control-label AUTEUR
                  input.form-control(type ='text', name = 'auteur', value = book.auteur)
                div.form-group 
                  label.control-label ANNEE DE PUBLICATION
                  input.form-control(type = 'text', name = 'annee_de_publication', value = book.annee_de_publication)
                div.form-group 
                  label.control-label PAGES
                  input.form-control(type = 'text', name = 'pages', value = book.pages)
                div.form-group 
                  label.control-label DATE DE CREATION
                  input.form-control(type = 'text', name = 'date_de_creation', value = book.date_de_creation)
                div.form-group
                  label.control-label PICTURE
                  input(type = 'file', name = 'photo')
                ul.list-inline
                  li
                    input.btn.btn-danger(type = 'submit', value = 'EDIT')
                  li
                    a.btn.btn-warning(href = '/simplonBook') CANCEL
