doctype html
html
  head
    meta(charset='UTF-8')
    title Simplon Books
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href="../stylesheets/style.css")

    body
        nav.navbar.navbar-default
          div.container
            div.navbar-header
              button.navbar-toggle.collapsed(aria-expanded='false', data-target='#navbar-collapse', data-toggle='collapse', type='button')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/simplonBook')
                div.logo S
                div.brand-text
                  div.brand-name Simplon Book
                  div.brand-tagline Simplon Library
            div#navbar-collapse
              ul.nav.navbar-nav.navbar-right.list-inline
                li.dropdown
                  a.dropdown-toogle
                li
                  p.navbar-btn
                    a.btn.btn-danger(href='/simplonBook/add') ADD A BOOK
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js", integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1", crossorigin="anonymous")
        
        block content
